__pycache__/
db.sqlite3
.vscode/settings.json
The-Winking-Skeever-Project.code-workspace
media/sched/Document_1.pdf
media/sched/FD-_2_MxIoDb4.10.2025.xlsx
media/sched/FD-_2_rwLBsI0.10.2025.xlsx
media/sched/FD-_2.10.2025.xlsx
.gitignore
media/sched/schedule_NoiotpJ.csv
